*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 10px;;
}
li {
  display: inline-block;
}
.container {padding: 10px;
  width: 75%;
  margin: auto;
  background-image: url();
}




.box {
  display: inline-block;
  position: relative;
  width: 33%;
}
img {
  height: auto;
  width: auto;
}


.box:hover {
  cursor: pointer;
}


.discount {
  position: absolute;
  top:0;
  left: 270%;
  background-color: red;
  border-radius: 4px;
}

.box:nth-child(even) .discount {
  background-color: green;
}
.heart {
  position: absolute;
  font-size: 30px;
  color: red;
  display: inline-block;
  width: 300%;
  text-align:center;
  bottom: 0%;
  display: none;
}
.box:hover .heart {
  display: block;
}
